@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins", sans-serif;
}

.main1 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 24%,
    rgba(9, 9, 82, 1) 77%,
    rgb(3, 175, 161) 100%
  );
}

.morf {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(22.8px);
  -webkit-backdrop-filter: blur(22.8px);
  border: 1px solid rgba(17, 16, 16, 0.42);
}

li{
  background: #000;
}